
.comic-info{ 
    font-size: 30px; 
    display: flex;
    justify-content: space-around;
}


.comic-image{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: 3px solid;
    border-color:  #E0E0B0;
}

.comic{
    width: 100%;
}

.comic-container{ 
    width: 50%;
    margin: 0 auto;  /*this should be size of comic image*/   
    height: 100%;

}

.nav-buttons{
    text-align: center;
    margin-top: 1%; 

}

.chuckie-side{
 
    position: fixed;
    padding-left: 72%;
    bottom: 0;
    max-width: 30%;
}

.chuckie-img{
    max-width: 99.9996%;
    max-height: auto;

}



