


<div class = "comic-container" *ngIf="comic">
  
   <div class = "comic-info">
      <div class = "comic-title"> 
         {{comic.title | uppercase }}
         </div>
      <div class = "comic-date"> 
          <!--- {{comic.created | date }} !--->
          Date here
      </div>
   </div>
   <div class = "chuckie-side">
         <img class ="chuckie-img" src = '../../assets/chuckie-zombie-right.png'>
   </div>
    
  
   <img src = {{comic.path}} class = "comic-image">
   <div class = "nav-buttons">
      <button (click) = "previousComic()"> Previous </button>
      <button (click) = "randComic()"> Random </button> 
      <button (click) = "nextComic()"> Next </button>
   </div>
  
</div>

