body{


}

.comic-info{ 
    font-size: 30px; 
    display: flex;
    justify-content: space-around;
}

.comic-container{ 
    margin: 0 auto; 
    width: 1000px; /*this should be size of comic image*/   


}

img{
    max-width: 75%;
    margin: 0 auto;
    display: block;
    border: 3px solid;
    border-color:  #E0E0B0;
}



.nav-buttons{
    text-align: center;
    margin-top: 1%; 

}

button{
    /* padding: 2% 2%; */
}

